{% extends "htmls/base.html" %}

{% block subintro_title %}
    <strong> Accounts - {{ account }} - Initialize </strong>

{% endblock %}
{% block subintro_list%}
    <li> <a href="{% url 'account_index' %}"> Accounts </a> <span class="divider">/</span></li>
    <li> <a href="{% url 'view_account' account_id=account.id %}"> {{account}} </a> <span class="divider">/</span></li>
    <li class="active"> Initialize </li>
{% endblock %}

{% block content %}
    <div class="row">
        <form action="{% url 'init_account_balance' account_id=account.id %}" method="POST">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <input class="btn btn-large btn-color btn-rounded" type="submit" value="Init">
        </form>
    </div>

{% endblock %}