{% if cp_list %}
<table class="table table-striped">
    <tr>
        <th> Index </th>
        <th> 类别 </th>
        <th> 名称 </th>
        <th> 报价 </th>
        <th> 价格类型 </th>
        <th> Note </th>
        <th> 人民币报价</th>
        <th> 成本(RMB) </th>
        <th> 材料 </th>
        <th> 重量(g) </th>
        <th> 产品尺寸 </th>

        <th> 外箱尺寸 </th>
        <th> 每箱件数 </th>
        <th> 单箱静重(KG)</th>
        <th> 单箱毛重(KG)</th>
    </tr>


    {% for cp_single in cp_list %}
    <tr>
        <td> {{ forloop.counter }}</td>
        <td> {{cp_single.get_type_display }}</td>
        <td>
            {{ cp_single.name }}
        </td>
        <td> {{ cp_single.cpinfo.price }}</td>

        <td> {{ cp_single.cpinfo.priceTerm }}</td>
        <td> {{ cp_single.cpinfo.note }} </td>

        {% if cp_single.type == "PRODUCT" %}
        <td> {{ cp_single.cpinfo.priceRMB }}</td>
        <td> {{  cp_single.cpinfo.cost }}</td>
        <td> {{ cp_single.cpinfo.material }}</td>
        <td> {{ cp_single.cpinfo.unit_weight }}</td>
        <td> {{ cp_single.cpinfo.unit_size }}</td>
        <td> {{ cp_single.cpinfo.carton_size }}</td>
        <td> {{ cp_single.cpinfo.qty_carton }}</td>
        <td> {{ cp_single.cpinfo.carton_gw }}</td>
        <td> {{ cp_single.cpinfo.carton_nw }}</td>
        {% endif %}

        <td>
            <a href="{% url 'edit_cp_info' cp_id=cp_single.id %}" > Edit </a>
            {% if cp_single.expired and user.member.isManager %}
            <a href="{% url 'expire_cp' cp_id=cp_single.id expired=0 %}"> Active </a>
            {% endif %}

            {% if cp_single.expired == False %}
            <a href="{% url 'expire_cp' cp_id=cp_single.id expired=1 %}"> Inactive </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
