{% extends "htmls/base.html" %}

{% block subintro_title %}
    Clients <strong> Add  </strong>
{% endblock %}
{% block subintro_list%}
    <li> <a href="{% url 'client_index' %}"> Clients</a><span class="divider">/</span></li>
    <li class="active"> Add Client </li>
{% endblock %}

{% block content %}
    <div class="row">


        <form action="{% url 'add_client' %}" method="POST">
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <input type="submit" class="btn btn-large btn-color btn-rounded"  value="Add"/>
        </form>

    </div>
{% endblock %}