{% extends "htmls/base.html" %}


{% block subintro_title %}
    {{ client }} - <strong> {{cp}} - {{cp.get_type_display }}</strong>
    <ul class="inline">
        <li> <a href="{% url 'edit_cp_name' cp_id=cp.id %}" class="btn btn-primary mb-2"> 修改产品名称/类别 </a> </li>
    </ul>
{% endblock %}


{% block subintro_list%}
    <li><a href={% url 'client_index' %}> Clients </a>
        <span class="divider">/</span>
    </li>
    <li><a href="{% url 'view_client' client_id=client.id  %}" > {{ client }} </a>
        <span class="divider">/</span>
    </li>
    <li class="active"> {{cp.name}} </li>
{% endblock %}


{% block content %}
    <script>
        $(document).ready(function () {
            // $("input#id_price").change(function(){
            //     $("input#id_priceRMB").val($(this).val()*7);
            // })
        })
    </script>

    <div class="row">

    </div>

    <div class="row">
        <div class="span7">
            <h4> {{cp}}  </h4>
            <form action="{% url 'edit_cp_info' cp_id=cp.id %}" method="POST">
                {% csrf_token %}
                <table class="table" >
                    {{ form.as_table }}
                </table>
                <input type="submit"  class="btn btn-large btn-color btn-rounded" value="Save"/>
            </form>

        </div>
        <div class="span1">

        </div>
        <div class="span4">
            <div class="row">
                 {% include "htmls/calculator.html" %}
            </div>

        </div>
    </div>
{% endblock %}