{% extends "htmls/base.html" %}

{% block subintro_title %}
   {{ client }} - <strong> {{  cp }} </strong>
{% endblock %}
{% block subintro_list%}
    <li><a href={% url 'client_index' %}> Clients </a>
        <span class="divider">/</span>
    </li>
    <li><a href="{% url 'view_client' client_id=client.id  %}" > {{ client }} </a>
        <span class="divider">/</span>
    </li>
    <li class="active"> {{cp.name}} </li>
{% endblock %}

{% block content %}
<h1>  Coming SOON  </h1>
{% endblock %}