{% extends "htmls/base.html" %}

{% block subintro_title %}
     <strong> All Orders - Finance View - {{ order_set|length }}  </strong>
    <ul class="inline">
        <li> <a href="{% url 'list_all_orders'  %}"  class="btn btn-primary mb-2">General View  </a></li>
    </ul>
{% endblock %}
{% block subintro_list%}
    <li class="active"> All Orders </li>
{% endblock %}

{% block content %}
    <div class="row">
        <form class="form-inline" action="{% url 'list_all_order_summaryView' %}" method="post">
            {% csrf_token %}
            {{ filterForm }}
            <button type="submit" class="btn btn-primary mb-2">Search </button>
        </form>
    </div>
    <div class="row">
        {% include "htmls/co_summary_display.html" with co_list=order_set%}
    </div>
{% endblock %}